@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fcf9f8;
  --fg: #1c1b1b;
}

html, body {
  background: var(--bg);
  color: var(--fg);
  min-height: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.pitch-grid {
    background-image: linear-gradient(#e5e2e1 1px, transparent 1px), linear-gradient(90deg, #e5e2e1 1px, transparent 1px);
    background-size: 20px 20px;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
